.info {
    min-height: 130px;
    color: #1b562f;
}

.generalInfo {
    display: flex;
    align-items: center;
}

.name {
    font-size: 28px;
    font-weight: 700;
    flex: 1 0 auto;
}

.location {
    font-size: 18px;
    display: flex;
    margin-left: 300px;
}

.status {
    margin: 20px 0px 40px;
    word-wrap: break-word;
    font-size: 18px;
    font-weight: 600;
}