.footer_wrap {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4e4d4d;
    color: white;
    position: fixed;
    bottom: 0;
}

.footer_column {
    position: relative;
    text-align: center;
    flex: 1;
}

.main_text {
    line-height: 20px;
    font-weight: 200;
    font-size: 15px;
}

.moto {
    line-height: 40px;
}