.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.input {
  margin-bottom: 10px;
}

.input:first-child {
  margin-top: 10px;
}

.wrapper > h1 {
  margin-bottom: 15px;
}
